* {
  scrollbar-color: var(--hover-background) var(--second-background);
}

::-moz-selection {
  background: var(--main-color);
  color: var(--main-background);
  text-shadow: none;
}

::selection {
  background: var(--main-color);
  color: var(--main-background);
  text-shadow: none;
}

.mdl-slider {
  color: var(--main-color);
}

.mdl-slider-background-upper {
  background-color: var(--dimmer-text);
}

.mdl-slider::-webkit-slider-thumb,
.mdl-slider-background-lower {
  background-color: var(--main-color);
}

.mdl-slider-background-flex {
  background-color: var(--hover-background);
}

.backgroundContainer,
.formDialogHeader,
.dialog,
.dashboardGeneralForm,
html {
  color: var(--main-text);
  background-color: var(--main-background);
}

.sliderBubble,
.skinHeader,
.nowPlayingBar {
  color: var(--main-text);
  background-color: var(--second-background);
}

.nowPlayingBarSecondaryText {
  color: var(--dimmer-text);
}

.mainDrawer,
.cardBox,
.paperList {
  background: var(--main-background);
}

.navMenuOption-selected {
  background-color: var(--main-color);
}

.itemName {
  color: var(--main-text);
}

.ratingbutton-icon-withrating {
  color: var(--red-color);
}

.emby-input,
.emby-textarea,
.emby-select {
  background: var(--second-background);
  border-color: var(--second-background);
}

.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus {
  border-color: var(--main-color) !important;
}

.emby-checkbox:checked + span + .checkboxOutline,
.itemProgressBarForeground {
  color: var(--main-text);
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.fab, .raised {
  background-color: var(--second-background);
  color: var(--main-text);
}

.emby-button-foreground {
  color: var(--main-text);
}

.emby-button-foreground:focus {
  color: var(--main-color);
}

.paper-icon-button-light {
  color: var(--main-text);
}

.paper-icon-button-light:hover:not(:disabled),
.paper-icon-button-light:focus,
.listItem:hover,
.listItem:focus,
.navMenuOption:hover,
.navMenuOption:focus {
  color: var(--main-color);
  background-color: var(--hover-background);
}

.emby-tab-button-active>.emby-button-foreground {
  color: var(--main-color);
}

.button-submit,
.button-submit:focus,
.button-alt,
.button-alt:focus,
.submit,
.submit:focus,
#btnAddPerson,
#btnAddPerson:focus,
.btnAddTrigger,
.btnAddTrigger:focus,
.btnAddUser,
.btnAddUser:focus {
  color: var(--main-background);
  background: var(--main-color);
}

.cardText-secondary {
  color: var(--dimmer-text);
}

.button-cancel,
.button-cancel:focus {
  color: var(--main-color);
  background: var(--main-background);
}

#btnShutdown,
#deviceDeleteAll,
.btnDeleteImage,
.btnResetPassword {
  color: var(--main-background);
  background: var(--red-color);
}

.btnRefresh {
  background: var(--main-color);
  color: var(--main-background);
}

.backgroundContainer.withBackdrop,
.backdropContainer,
.backgroundContainer {
  background: var(--main-background);
}

.headerRight,
.headerLeft {
  color: var(--main-color);
}

.MuiButtonBase-root,
.MuiSvgIcon-root,
.listItemButton,
.lnkMediaFolder {
  color: var(--main-text) !important;
}

.Mui-selected {
  background-color: var(--main-background) !important;
}

.MuiPaper-root,
.MuiBox-root,
.MuiTableContainer-root,
.MuiTableRow-root,
.MuiTableCell-root,
.MuiTableFooter-root,
.MuiList-root {
  background-color: var(--second-background);
  border-color: var(--hover-background) !important;
  outline-color: var(--main-color);
}

.MuiToolbar-root {
  background-color: var(--main-background);
}

.listItemButton:focus {
  background-color: var(--main-color);
}

.indicator {
  background-color: var(--main-color);
  color: var(--main-background);
}

.playedIndicator {
  background-color: var(--green-color);
  color: var(--main-background);
}

.alphaPickerRow {
  color: var(--dimmer-text);
}

.itemAction:focus {
  color: var(--main-color);
}

/* General focus element color */

.layout-tv .paper-icon-button-light.show-focus:focus {
  color: var(--main-color) !important;
}

.emby-button.show-focus:focus {
  background: var(--main-color) !important;
}

.button-flat:focus {
  color: var(--main-color);
}

.sectionTitle,
.cardText,
.pageTitle,
.detailSectionContent,
.trackSelections,
.emby-input,
.checkboxLabel,
.itemDetailsGroup,
.checkboxOutline,
.emby-textarea,
.emby-select,
.label,
.selectLabel,
.sidebarHeader,
.listItem,
.MuiMenuItem-root,
.dashboardGeneralForm,
.dashboardSections,
.navMenuOption,
.inputLabel,
.content-primary,
legend {
  color: var(--main-text);
}

.fieldDescription,
.secondary,
.listItemBodyText {
  color: var(--dimmer-text);
}

.listItem-border {
  border-color: var(--hover-background) !important;
}

.sessionAppName,
.sessionNowPlayingInfo {
  color: var(--main-background);
}
